/* body {
  background-color: azure;
}
h1 {
  color: cornflowerblue;
}
.clicked {
  color: tomato;
}
.text {
    text-decoration: underline;
}
.hidden {
  display: none;
} */

.SScreen {
  background-color: deeppink;
}
.MScreen {
  background-color: dimgray;
}
.LScreen {
  background-color: dodgerblue;
}
